<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="=UTF-8">
        <title>Condicionales</title>
        <style> 
            body {background-color: #A9A9A9};
        </style> 
</head>
<body>
    <div>
       <h1> Jugadores 1</h1>
       <ol>
            <li> Juan</li>
            <li>Pedro</li>
            <li>Carlos</li>
       </ol>
    </div>
    <div>
        <h1>Jugadores 2</h1>
        <ol>
            <li>Alejandro</li>
            <li>camilo   </li>
            <li>Antonio  </li>
        </ol>

    </div>


    <h1> Jugadores 2</h1>
</body>

<footer> 

</footer>
</html>
