<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="=UTF-8">
        <title>Condicionales</title>
        <style> 
            body {background-color: #A9A9A9};
        </style> 
</head>
<body>
    {% if equipo == "Real" %}
    <div>
       
       <h1> Jugadores 1</h1>
       <ol>
            <li> Juan</li>
            <li>Pedro</li>
            <li>Carlos</li>
       </ol>

    </div>
    {% elif  equipo  == "barcelona" %}
    <div>
        
            <h1>Jugadores 2</h1>
            <ol>
                <li>Alejandro</li>
                <li>camilo   </li>
                <li>Antonio  </li>
            </ol>
        
    </div>
    {% else %}
    <h3 style="color: rgb(104, 27, 13);">{ El equipo "{{equipo}}" no se encuentra en la base de datos }</h3>
    {% endif %}
</body>

<footer> 

</footer>
</html>
