<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> Estructura de Datos</title>
    <style> body{background-color: aquamarine;}</style>

</head>
<body>
    <h1>Estructuras de Datos</h1>
    <h3>Listas</h3>
    <h4>Cartelera</h4>
    <ol>
        <li>{{movies[0]}}</li>
        <li>{{movies[1]}}</li>
        <li>{{movies[2]}}</li>
    </ol>
    <h4> Pelicula Destacada </h4>
    <p>Usando un diccionario</p>
    <p>La pelcula destacada es {{destacada["nombre"]}}
        y fue estrenada el año {{destacada["Año"]}}
    </p>
    <h4>Trabajando con cllases</h4>
    <h5>pelicula favorita</h5>
    <p>Mi pelicula favoria es {{favorita.nombre}} es del año {{favorita.año}}, el protagonista es {{favorita.protagonista}}</p>
</body>
<footer></footer>


</html>